/* @import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&family=Josefin+Sans:wght@200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.1s ease-in;
  scroll-behavior: smooth;
}

div {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul li {
  list-style: none;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  /*     flex-flow: column;
      justify-content: center;
      align-items: center; */
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 90%;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
html {
  font-size: 10px;
}

.header {
  height: 100vh;
  text-align: center;
  background-image: url(../img/background-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page {
  color: #ffffff;
}
.page__title {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.page__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.55em;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5rem;
}

.search-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 6rem;
  width: 650px;
  margin: 2px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.search-form__input {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 2rem;
}
.search-form__btn {
  position: relative;
  height: 100%;
  width: 15rem;
  border: 2px #ffffff solid;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  background-color: #5474FD;
  vertical-align: middle;
  cursor: pointer;
}
.search-form__btn i {
  font-size: 1.8rem;
  margin-left: 1rem;
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}
.search-form__btn:hover, .search-form__btn:focus {
  background: -o-linear-gradient(315deg, #5474FD, #5474FD 60%, #e8e8e8);
  background: -o-linear-gradient(315deg, #5474FD, #5474FD 60%, #e8e8e8);
  background: linear-gradient(135deg, #5474FD, #5474FD 60%, #e8e8e8);
}

.scroll-down {
  position: absolute;
  bottom: 13.4rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.scroll-down__text {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}
.scroll-down__arrow {
  height: 10px;
  width: 10px;
  border-right: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.scroll-down:hover, .scroll-down:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.top-nav {
  height: 8rem;
  background-color: #5474FD;
}

.logo {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.top-nav__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.nav__items {
  list-style: none;
}
.nav__item-li {
  display: inline;
  margin-left: 4rem;
}
.nav__item-li:hover, .nav__item-li:focus {
  border-bottom: #ffffff 1px solid;
}
.nav__item-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Aleo", serif;
}

.nav__burger-label {
  display: none;
}

.nav__burger-icon {
  position: relative;
  display: block;
}

.nav__burger-input:checked ~ .nav {
  -webkit-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav__burger-icon {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  z-index: 2;
}

.icon-burger-line {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}

.line1 {
  top: 8px;
}

.line2, .line3 {
  top: 20px;
}

.line4 {
  top: 32px;
}

.nav__burger-input:checked ~ .nav__burger-label .line1 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.nav__burger-input:checked ~ .nav__burger-label .line2 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav__burger-input:checked ~ .nav__burger-label .line3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav__burger-input:checked ~ .nav__burger-label .line4 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.btn {
  width: 22.6rem;
  height: 6.1rem;
  background-color: #5474FD;
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.btn:hover, .btn:focus {
  color: #5474FD;
  background-color: #ffffff;
  border: 2px #5474FD solid;
}

.why-section {
  height: 92vh;
  background-image: url(../img/background-why-section.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.why-section__left {
  width: 45%;
  margin: 30px 0;
}
.why-section__title {
  font-family: "Aleo", serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 6.2rem;
}
.why-section__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.6rem;
  color: #e8e8e8;
  margin-bottom: 4.7rem;
}
.why-section__right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 3rem 0;
}
.why-section__right :nth-child(1) {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 4px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.why-section__right :nth-child(2) {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.why-section__right :nth-child(n):hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.why-section__right :nth-child(n):focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ap-1-section {
  background-image: url(../img/background-ap-1-section.png);
}
.ap-1-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.ap-2-section {
  background-image: url(../img/background-ap-2-section.png);
}
.ap-2-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.ap-1-section, .ap-2-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 22.8rem 0 10rem;
}
.ap-1-section__article, .ap-2-section__article {
  width: 48%;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 5rem 3.2rem;
}
.ap-1-section__article-subtitle, .ap-2-section__article-subtitle {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.ap-1-section__article-title, .ap-2-section__article-title {
  color: #fefefe;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.9rem;
}
.ap-1-section__article-text, .ap-2-section__article-text {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.6rem;
  text-align: justify;
  margin-bottom: 4.7rem;
}

.what-section {
  background-image: url(../img/background-what-section.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.what-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 12rem 0 20rem;
}
.what-section__title {
  font-family: "Aleo", serif;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 9.3rem;
}
.what-section__article {
  height: 28.4rem;
  /* height: auto; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.what-section__photo {
  /* background-image: url(../img/photo-what-section.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 40%;
  height: 100%;
  text-align: center;
  /* flex-basis: 44.5rem; */
  /* height: 28.4rem; */
}
.what-section__content {
  padding: 4.8rem 5.4rem 4.8rem 5.8rem;
  background-color: #333333;
  width: 60%;
  overflow-y: scroll;
}
.what-section__article-title {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3.4rem;
  text-transform: uppercase;
}
.what-section__article-text {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.6rem;
  text-align: justify;
}
.what-section__article-text--initial {
  color: #5474FD;
  font-size: 2.8rem;
  font-family: "Josefin Sans", sans-serif;
  transform: translateY(-1.5rem);
  margin-right: 6px;
}

.footer {
  height: 27rem;
  background-color: #232323;
  padding-bottom: 5.4rem;
}
.footer__inner {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__logo {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
  letter-spacing: 1.8px;
}
.footer__logo:hover, .footer__logo:focus {
  color: #5474FD;
}
.footer__slogan {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.footer__soc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.soc {
  color: #e8e8e8;
}

.fab {
  font-size: 16px;
  cursor: pointer;
}
.fab--active, .fab:hover, .fab:focus {
  color: #5474FD;
}

@media screen and (max-width: 1200px) {
  .footer {
    height: auto;
    background-color: #232323;
    padding: 40px 0;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    position: fixed;
    z-index: 2;
    left: -100vw;
    top: 0;
    background-color: #5474FD;
    overflow: auto;
    width: 80vw;
    height: 100vh;
  }
  .nav__burger-label {
    display: block;
  }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .nav__item-li {
    display: block;
    margin-left: 0;
    text-align: center;
  }
  .nav__item-link {
    display: block;
    padding: 24px 60px;
    font-size: 24px;
  }

  .why-section {
    height: auto;
    padding: 6rem;
  }
  .why-section__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .why-section__left {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .why-section__right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }
  .why-section__right :nth-child(1) {
    -ms-flex-item-align: inherit;
    -ms-grid-row-align: inherit;
    align-self: inherit;
    margin-bottom: 4px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .why-section__right :nth-child(2) {
    -ms-flex-item-align: inherit;
    -ms-grid-row-align: inherit;
    align-self: inherit;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .why-section__btn {
    display: block;
    margin: 0 auto;
  }

  .what-section__article {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .what-section__photo {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  .what-section__content {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .search-form {
    max-width: 100%;
    height: 50px;
  }

  .ap-1-section__inner, .ap-2-section__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .ap-1-section__article, .ap-2-section__article {
    width: 100%;
  }

  .what-section__inner {
    padding: 10rem 0 10rem;
  }

  .why-section__btn {
    width: 100%;
  }

  .why-section__right :nth-child(n) {
    max-width: 100%;
  }
}
