/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@use "_null";
@use "_fonts";
@use "_wrapper";


$main-font: 'Josefin Sans', sans-serif;
$added-font: 'Aleo', serif;

$blue-color: #5474FD;
$white-color: #ffffff;
$gray-color:#232323;
$darkwhite-color: #e8e8e8;

html {
    font-size: 10px;
}

.header {
   height: 100vh;
   text-align: center;
   background-image: url(../img/background-header.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   &__inner {
       height: 100%;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
   }
}

.page {
    color: $white-color;
    
    &__title {
        font-size: 4.8rem;
        letter-spacing: 0.1em;
        font-family: $main-font;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    &__subtitle {
        font-size: 1.6rem;
        letter-spacing: 0.55em;
        font-family: $main-font;
        margin-bottom: 5rem;
    }
}

.search-form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 6rem;
    width: 650px;
    margin: 2px;
    background-color: $white-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &__input {
       height: 100%;
       -webkit-box-flex: 1;
           -ms-flex-positive: 1;
               flex-grow: 1;
       font-family: $main-font;
       font-size: 1.4rem;
       text-align: center;
       padding: 0 2rem;
    }

    &__btn {
        position: relative;
        height: 100%;
        width: 15rem;
        border: 2px $white-color solid;
        color: $white-color;
        font-size: 1.4rem;
        font-family: $added-font;
        text-transform: uppercase;
        background-color: $blue-color;
        vertical-align: middle;
        cursor: pointer;
        
        i {
            font-size: 1.8rem;
            margin-left: 1rem;
            transform: translateX(1rem);
        }

        &::after {
        }
        
        &:hover , &:focus {
            /* color: $blue-color;
            background-color: $white-color;
            border: 4px $blue-color solid; */
            background: -o-linear-gradient(315deg, $blue-color, $blue-color 60%, $darkwhite-color) ;
            background: linear-gradient(135deg, $blue-color, $blue-color 60%, $darkwhite-color) ;

        }
      
    }
}

.scroll-down {
    position: absolute;
    bottom: 13.4rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    &__text {
        font-size: 1.4rem;
        font-family: $main-font;
        color: $white-color;
    }

    &__arrow {
        height: 10px;
        width: 10px;
        border-right: 1px $white-color solid;
        border-bottom: 1px $white-color solid;
        -webkit-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
                transform:rotate(45deg);
        
    }
    &:hover , &:focus {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}

.top-nav {
    height: 8rem;
    background-color: $blue-color;
}

.logo {
    font-size: 2.4rem;
    font-family: $main-font;
    text-transform: uppercase;
}

.top-nav__inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.nav {
    &__items {
        list-style: none;
    }

    &__item-li {
        display: inline;
        margin-left: 4rem;
        &:hover , &:focus {
            border-bottom: $white-color 1px solid;
        }
    }

    &__item-link {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: $added-font;
    }
}

// burger start
.nav__burger-label {
    display: none;
}

.nav__burger-icon {
    position: relative;
    display: block;
}

.nav__burger-input:checked ~ .nav {
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav__burger-icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 42px;
    height: 42px;
    z-index: 2;
}

.icon-burger-line {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $white-color;
}

.line1 {
    top: 8px;
}

.line2 , .line3{
    top: 20px;
}

.line4 {
    top: 32px;
}

.nav__burger-input:checked ~ .nav__burger-label .line1 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.nav__burger-input:checked ~ .nav__burger-label .line2 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.nav__burger-input:checked ~ .nav__burger-label .line3 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.nav__burger-input:checked ~ .nav__burger-label .line4 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}
// burger end


.why-section {
    height: 92vh;
    background-image: url(../img/background-why-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
    }

    &__left {
        width: 45%;
        margin: 30px 0;
    }

    &__title {
        font-family: $added-font;
        font-size: 3.6rem;
        margin-bottom: 6.2rem;
    }

    &__text {
        font-family: $main-font;
        font-size: 1.6rem;
        color: $darkwhite-color;
        margin-bottom: 4.7rem;
    }

    &__btn {
        width: 22.6rem;
        height: 6.1rem;
        background-color: $blue-color;
        color: $white-color;
        font-family: $added-font;
        font-size: 1.6rem;
        text-transform: uppercase;

        &:hover , &:focus {
            color: $blue-color;
            background-color: $white-color;
            border: 2px $blue-color solid;
        }
    }

    &__right {
        width: 45%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 3rem 0;

        :nth-child(1) {
            -ms-flex-item-align: start;
                align-self: flex-start;
            margin-bottom: 4px;
            -ms-flex-negative: 1;
                flex-shrink: 1;
        }

        :nth-child(2) {
            -ms-flex-item-align: end;
                align-self: flex-end;
            -ms-flex-negative: 1;
                flex-shrink: 1;
        }

        :nth-child(n):hover {
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1);
        }

        :nth-child(n):focus {
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1);
        }
    }

}


// footer start

.footer {
    height: 27rem;
    background-color: $gray-color;
    padding-bottom: 5.4rem;

    &__logo {
        margin-bottom: 1.5rem;
    }

    &__inner {
        height: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    &__logo {
        display: inline-block;
        width: 100%;
        margin-bottom: 1.5rem;
        letter-spacing: 1.8px;
        
        &:hover, &:focus {
            color: $blue-color;
        }
    }

    &__slogan {
        font-size: 1.6rem;
        font-family: $main-font;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__soc {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.soc {
    color: $darkwhite-color;
}

.fab {
    font-size: 16px;
    cursor: pointer;

    &--active , &:hover, &:focus {
        color: $blue-color;
    }
}


// footer end
@media screen and (max-width:1200px) {
    .footer {
        height: auto;
        background-color: $gray-color;
        padding: 40px 0;
    }
}

@media screen and (max-width:1024px) {
    .nav {
        position: fixed;
        z-index: 2;
        left: -100vw;
        top:0;
        background-color: $blue-color;
        overflow: auto;
        width: 80vw;
        height: 100vh;

        &__burger-label {
            display: block;
        }

        &__items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 100%;
        }

        &__item-li {
            display: block;
            margin-left: 0;
            text-align: center;
        }

        &__item-link {
            display: block;
            padding: 24px 60px;
            font-size: 24px;
        }
    }
 

    .why-section {
        height: auto;
        padding: 6rem;

        &__inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        &__left {
            width: 100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center;
        }

        &__right {
            width: 100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 20px;

            :nth-child(1) {
                -ms-flex-item-align: inherit;
                    -ms-grid-row-align: inherit;
                    align-self: inherit;
                margin-bottom: 4px;
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
            }

            :nth-child(2) {
                -ms-flex-item-align: inherit;
                    -ms-grid-row-align: inherit;
                    align-self: inherit;
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
            }
        }
    }
}

@media screen and (max-width:768px) {

    html {
        font-size: 8px;
    }

    .search-form {
        max-width: 100%;
        height: 50px;
    }

    .why-section__btn {
        width: 100%;
    }

    .why-section__right {

        :nth-child(n) {
            max-width: 100%;
        }
    }
}